.title{
    text-align:center;
    border:solid 2px red;    
    height:50px;
}

.workspace{
    display: flex;
    border:solid 5px orange;
    height:600px;
}

.tools{
    border:dashed 2px red;
    width:10%;
}

.tool-row{
    display: flex;
    height:10%;
}

.tool{
    text-align: center;
    border:solid 1px green;
    width:50%;
}

#mapFile{
    background-color:blue;
    text-color:white;
}

input[type='file']{
    display:none;
}

.iconButton{
    display:inline-block;
    background:white;
    /* color:black; */
    padding:0px 0px;
    cursor: pointer;
}

.tool-path{
    Color:black;
    height:5%;
}

.penButton-Blue{
  border-radius: 5px;
  background-color: blue;
  padding: 1px 1px;
  width:30px;
  color: white;
  cursor: pointer;
}

.penButton-Green{
    border-radius: 5px;
    background-color: Green;
    padding: 1px 1px;
    width:30px;
    color: white;
    cursor: pointer;
}

.tool-note{
    display: flex;
    height:8%;
    padding:0px 0px;
}

.tool2{
    text-align: center;
    border:solid 1px green;
    width:33.333%;
}

.tool-pen{
    display: flex;
    height:5%;
}

.tool3 {
    text-align: center;
    border:solid 1px green;
    width:33.333%;
}

.tool4 {
    width:33.333%;
}

.tool-erasers{
    display: flex;
    height:8%;
}

.tool-eraser{
    border:solid 1px white;
    width:50%;
}
 
.next-to-workspace{
    display: flex;
    height:600px;
}

.map{
    border: dashed 3px blue;
    width:800px;
    height:600px;
}



#canvasMap{
    position:absolute;
    border: solid 3px blue;
}

#canvasPaint{
    position:absolute;
    border: solid 2px green;
}

.comment{
    position: relative;
    border:solid 2px black;
    width:30%;
}
.fukidashi{
    display: flex;
    height: 11%;
    border:solid 1px black;
}

textarea{
    width: 80%;
    font-size: 30px;
}

.photo{
    position: relative;
    border:solid 2px black;
    width:20%;
}

.photo-row{
    border:solid 1px black;
    height: 20%;
}



#canvasphoto1{
    position:relative;
    border: solid 3px black;
}

#canvasphoto2{
    position:relative;
    border: solid 3px black;
}

#canvasphoto3{
    position:relative;
    border: solid 3px black;
}

#canvasphoto4{
    position:relative;
    border: solid 3px black;
}

#canvasphoto5{
    position:relative;
    border: solid 3px black;
}

.cameratool{
    float: left;
}

.canvasphoto{
    float: none;
}

.workspace2{
    display: flex;
    border:solid 5px red;
    height:200px;
}

.reason{
    background-color: orange;
    width: 20%;
}

.text{
    height:85%;
    width: 98%;
}

.situation{
    background-color: orange;
    width: 20%;
}

.space{
    width: 5%;
}